# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.iml
.idea/
.vscode/

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Web
web/favicon.png
web/icons/
web/manifest.json

# macOS
macos/Pods/
macos/Flutter/GeneratedPluginRegistrant.*

# Platform builds
android/app/build/
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig

# Miscellaneous
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
